<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículo</title>
</head>
<body>
    <h1> Currículo </h1>

<h3> Informações Pessoais </h3>

    <ul>
        <li><strong>Nome:<strong> Mateus Torres Caires</li>
        <li><strong>Idade:<strong> 17</li>
        <li><strong>Telefone:<strong> (31)99881-1894</li>
    
    </ul>

  <h3>Aluno técnico em informática colégio Cotemig </h3>

     <div>
        <h3>Objetivo</h3>
        <p>Adquirir experiência em tecnologia da Informação e utilizar minhas habilidades pessoais para contribuir com o resultado da empresa  </p>
     </div>

  <h3>Formação Acadêmica</h3>

    <ul>
        <li> Ensino fundamental completo em 2023 no Colégio Santa Maria Minas, unidade Nova Suíça </li>
        <li> Ensino Médio técnico em informática no Colégio Cotemig - Barroca -  conclusão 11/2026 </li>
       
    </ul>

 <h3>Habilidades</h3>

    <ul>
        <li> Inglês intermediário em andamento no FCM Idiomas </li>
        <li> Formação básica em espanhol no Colégio Santa Maria </li>
        <li> C#, HTML, CSS, MysQL, Pacote Office - Intermediário  </li>
        <li> Javascript, kotlin, flutter(dart) e python - Básico  </li>
        <li> Facilidade no trabalho em equipe </li>
        <li> Facilidade no trabalho em equipe </li>
       
    </ul>


</body>
</html>
